{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body background="{% static 'images/bg.jpg'%}">
    <center style="margin-top: 10rem;">
        <h1 style="color: rgb(30, 226, 144);">Login</h1>
        <input style="width: 20rem;" type="text" placeholder="user name"><br><br>
        <input style="width: 20rem;" type="password" placeholder="password"><br><br>
        <input type="button" value="sign in"> 
    </center>
    
    
</body>
</html>
