.table{
    border-radius: 20px;
    width: 300px;
    height: fit-content;
    /* padding: 300px 300px; */
    margin: 150px 350px;
    border-color: darkblue;
    padding: 10px;
    background-color: white;
    text-align: center;
    background-image: url(../img/bg.jpg);
}
body{
    /* background-image: linear-gradient(#4DA0B0,#D39D38); */
    
    background-image: url(../img/bg2.jfif) ;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100%;
    margin: 0; */
}
input{
    border: none;
    border-bottom-style: solid;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px;
    height: 30px;
    width: 200px;

}
h1{
    color: white;
    text-shadow: 0 0 10px yellow;
}
input:hover{
    height: 30px;
    width: 300px;
    background-color: lawngreen;
    transition: width 2s;
}
button{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;

}
button:hover{background-color: #3e8e41}
button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);


